
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4> Basic React Component : component path :script/ReactJSButton</h4>
            <ul class="list-group ">
                <li class="list-group-item ">@Html.ActionLink("ReactJS-Button", "Index", "ReactJSButton")</li> 
                <li class="list-group-item ">@Html.ActionLink("ReactJS-Const", "ReactConst", "ReactJSButton")</li>
                <li class="list-group-item ">@Html.ActionLink("ReactJS-textbox state", "ReactTextboxStateChange", "ReactJSButton")</li>

            </ul>
        </div>

        <div class="col-md-4">
            <h4>React Component hadling data</h4>
            <ul class="list-group ">
                <li class="list-group-item ">@Html.ActionLink("ReactJS-hello", "Index", "ReactJS")</li>
                <li class="list-group-item ">@Html.ActionLink("ReactJS-LoadData", "ReactLoadData", "ReactJS")</li>
                <li class="list-group-item ">@Html.ActionLink("ReactJS-LoadData button click", "ReactLoadDataButtonClick", "ReactJS")</li>
                <li class="list-group-item ">@Html.ActionLink("ReactJS-filter data", "ReactJSFilterData", "ReactJS")</li>
            </ul>
        </div>
    </div>

</div>

